@import url('https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root{
    --main1: #BBE1FA;
    --color2: #3282B8;
    --color3: #0F4C75;
    --color4: #1B262C;

}
body{
    background-color: white;
    color: var(--color2);
}
.navbar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    

}


.lista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align-last: right;
    flex-flow: row;
    text-decoration: none;
    
}
.lista a{
    text-decoration: none;
    color: #3282B8;
}
.lista a:hover  {
    color: var(--color4);
    transition: .5s;
}

.lista ul {
    padding: 10px;
    width: auto;
    height: 40px;
    border-radius: 5px;
    color: var(--color4);
    text-decoration: none;
}
.Inicio{
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: row;
    grid-gap: 10px;

    
}
.imagen {
    width: auto;
    /* height: 100%; */
    grid-row: 1/5;
align-items: center;
position: relative;
padding: 20px;
justify-content: center;
}
.foto{
    background-color: var(--color4);
    justify-content: center;
    width: 250px;
    height: 250px;
    /* margin: auto; */
    border-radius: 100%;
    transition: .5s;
    overflow: hidden;

}
.foto img{
    width: 100%;
    height: 100%;

}
.foto:hover {
    background-color: var(--color4);
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: .5s;
    border-radius: 0%;  
}
.Redes{
    display: flex;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
    overflow: hidden;
    color: #0F4C75;
}
.bxl-linkedin{
    font-size: 50px;
    
}
.bxl-facebook{
    font-size: 50px;

}
.bxl-twitter{
    font-size: 50px;
}
.bxl-linkedin:hover,.bxl-facebook:hover, .bxl-twitter:hover{
    font-size: 80px;   
}
.Correo{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #1B262C;
    color: #BBE1FA;
    min-width: 300px;
}   
.Correo i{
font-size: 30px;
color: var(--main1)
}
.Titulo{
    text-align: center;
}
.cajadescripcion{
    text-align: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin-top: 50px;
    padding-left: 20%;
    padding-right: 20%;
    word-wrap: break-all;
}
.descripcion1{
    text-align: center;
    word-wrap: break-all;
}
.Acercade{
    text-align: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin-top: 50px;
    padding-left: 20%;
    padding-right: 20%;
    word-wrap: break-all;
}
.Skills{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
    text-align: center;
}
.javascript, .css,.html,.design{
    background-color: var(--color4);
    height: auto;
    width: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    word-break: break-all;
    padding: 10px;
}
.javascript{
    margin-right: 5px;
    margin-left: 10px;
}
.logojs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;


}
.logojs img{
    width: 100%;
    height: 60%;

}
.css{
    margin-left: 5px;
    margin-right: 5px;
}
.logocss{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;

}
.logocss img{
    width: 60%;
    height: 60%;

}
.html{
    margin-left: 5px;
    margin-right: 5px;
}
.logohtml{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
    padding: 10px;


}
.html img{
    width: 60%;
    height: 60%;
}
.design{
    margin-left: 5px;
    margin-right: 10px;
;
}
.logodesign{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
    padding: 10px;

}
.exp1{
    background-color:red;
    width: auto;
    height: 100px;
    margin: auto;

}
.Proyectos{
    margin: auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: 50px;

flex-wrap: wrap;
justify-content: center


}
.ejemplo1, .ejemplo2, .ejemplo3, .ejemplo4{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: auto;
    overflow: hidden;
    margin: auto;
    padding: 10px;
}
.Proyectos img{
    width: 100%;
    height: 100%;
}
.ejemplo2 img{
    width: 100%;
    height: 100%;
}
.ejemplo4{
    justify-content: center;
}
.ejemplo4 img{
width: 100%;
height: 100%;
left: 40px;


}
.Contacto{
    text-align: center;
    display: grid;

}

.contacto_box{
    margin: auto;
    display:grid ;
    grid-template-columns: 3fr;
    gap: 30PX;
    
}
.contacto_cel{
    background-color: var(--main1);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}
.bx-phone, .bx-mail-send{
    color: var(--color4);
    font-size: 90px;
    text-align: center;
    margin: auto;
}
.contacto_correo{
    background-color: var(--main1);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}
.contacto_celtitulo,.contacto_correotitulo{
    color: #1B262C;
    padding: 10px;

}
.contacto_celtxt, .contacto_correotxt{
    color: #0F4C75;
    padding: 10px;
}


@media (min-width: 550px) {

    body h1{
        color: #1B262C;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 150px;
    }
    body h2{
        color: var(--color3);
        font-family: 'Montserrat';
        font-style: 600;
        font-size: 50px;
    }
    body p{
        font-family: 'Montserrat';
        font-style: 200;
        font-size: 24px;
    }
    body article{
        font-family: 'Montserrat';
        font-size: 18px;
    }

.Inicio{
        width: auto;
        height: auto;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-auto-flow: row;
        grid-column-gap: 50px;
        
    }

    .Redes i{
        font-size: 100px;

    }
    .bxl-linkedin:hover,.bxl-facebook:hover, .bxl-twitter:hover{
        font-size: 150px;   
    }
    .imagen{
        margin: auto;
        width: 500px;
        height: 600px;

    }
    .foto{
        margin: auto;
        width: 100%;
        height: 100%;
    }
.barra{
        background-color: blueviolet;
        display: none;
        width: 50px;
        height: 50px;
    }
    .Skills{
        margin-left: 100px;
        margin-right: 100px;
        justify-content: space-between
        ;
    }
    .contacto_box{
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-auto-flow: row;
        grid-gap: 10px;
        width: auto;
    }
.contacto_celtitulo{
    grid-row: 2;

}
.contacto_celtxt{
    grid-row: 3;

}

}

@media (max-width:549px ) {
    body h1{
        color: #1B262C;
        font-family: 'Montserrat';
    font-style: bold;
    font-size: 50px;
    }
    body h2{
        color: var(--color3);
        font-family: 'Montserrat';
        font-style: bold;
        font-size: 24px;
    }
    body article{
        font-family: 'Montserrat';
        font-size: 20px;
    }
    body p{
        font-family: 'Montserrat';
        font-size: 24px;

    }
    
    
.lista{
            display: none;
        }
        
.Skills{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .Proyectos{
                display: flex;
                flex-direction: column;
            }
            .exp1{
                background-color:#0F4C75;
                width: auto;
                height: 200px;
                margin: auto;
            
            }
            .foto{
                background-color: var(--color4);
                justify-content: center;
                width: 200px;
                height: 200px;
                margin: auto;
                border-radius: 100%;
                transition: .5s;
                overflow: hidden;
}   
.foto:hover{
    width: 200px;
    height: 200px;
}
}

